* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	margin: 0;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.grid-container {
	display: grid;
	grid-template-areas: 'header header header header'
	                     '. main main main'
	                     'nav main main main'
	                     '. main main main'
	                     'footer main main main';
	grid-template-rows: auto 20% 1fr  1fr auto;
    grid-template-columns: 20% 1fr 1fr 1fr;
	/*padding: 3px;*/
	height: 100vh;
}
.header {
	grid-area: header;
	background-color: #FFF;
	box-shadow: 0 4px 8px rgba(0,0,0,0.20);
	padding: 20px;
	margin-bottom: 4px;
}
.nav {
	grid-area: nav;
}
.main {
	grid-area: main;
	animation: fadeIn ease 2s;
	background-color: #F3F1F1;
	padding: 1rem 2rem;
	overflow-y: auto;
}
.footer {
	grid-area: footer;
	padding: 10px;
}

.header-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#app-title {
	font-family: sans-serif;
	font-weight: 600;
	font-size: 1.5em;
}
#user-container {
	position: relative;
	display: flex;
	align-items: center;
}
#admin-container {
	display: flex;
	align-items: center;
	padding: 0.5rem 1rem;
}
#admin-name {
	padding: 10px 5px;
}
.image-container {
	margin: 0 6px;
	width: 3rem;
	height: 3rem;
}
img[alt=profile] {
	width: 100%;
	height: 100%;
}
#admin-name:hover, #logout-btn {
	cursor: pointer;
}
.dropdown-content {
	display: none;
	position: absolute;
    top: 100%;
    text-align: center;
    padding: 15px 10px;
    background-color: #f6f6f6;
    min-width: 100%;
    border-radius: 5px;
    z-index: 1;
    box-shadow: 0 4px 6px rgba(0,0,0,.5)
}
#logout-btn {
	border: none;
    background: red;
    padding: 8px 16px;
    border-radius: 5%;
}
.db {
	display: block;
}
.dn {
	display: none;
}
ul.navigation-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
nav ul li.active {
	color: #00779C;
	background-color: #F3F1F1;
	border-left: 5px solid #00779C;
	animation: fadeIn ease 2s;
}
nav ul li {
	border-left: 5px solid #FFFFFF;
}
nav ul li:hover {
	background-color: #F3F1F1;
}
nav ul li a {
	display: block;
	color: #000000;
	text-decoration: none;
	padding: 16px 24px;
}
nav ul li.active a {
	color: #00779C;
}
nav ul li a .fas {
	width: 25px;
	margin-right: 14px;
}
/*
@media only screen and (max-width: 600px) {
	.row {
		-webkit-flex-direction: column;
		flex-direction: column;
	}
	nav {
		margin-bottom: 20%;
	}
}*/