/* Profile */
.profile-container {
	position: relative;
	background-color: #fff;
	padding: 2%;
}
.main-credentials {
	display: flex;
	justify-content: space-between;
}
.additional-credentials {
	display: flex;
}
.additional-credentials .credentials:nth-child(2) {
	margin: 0 40px;
}
.name-title {
	width: 50%;
}
.name-title {
	display: flex;
}
.name-title-inner {
	margin: 0 30px;
}
.top-section a {
	display: inline-block;
	background-color: #009ACB;
    color: #000;
    padding: 10px 16px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
}
.overlay {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #fff;
	box-shadow: -2px 2px 4px rgba(0,0,0,0.5);
	width: 0;
	overflow: hidden;
	height: 100%;
	transition: 0.5s ease;
}
.resume {
	display: flex;
	justify-content: space-between;
	margin: 0 10px;
}
p#close:hover {
	cursor: pointer;
}
.bottom-section {
	display: flex;
}
.bottom-section div{
	flex-basis: 100%;
	flex: 1;
	margin: 0 5px;
}
.sub-nav {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
.labels-container {
	display: flex; 
	align-items: center;
}
.code-container {
	margin-left: 15px;
}
.square {
	display: inline-block;
	width: 10px;
	height: 10px;
}
.code-container .square:nth-child(1) {
	background: #0193FD;
}
.code-container .square:nth-child(3) {
	background: #6B0090;
}
/* Table */
.table-container {
	width: 100%;
    max-height: 80vh;
    overflow: auto;
}
table {
	border-collapse: collapse;
	min-width: 100%;
}
thead {
	background-color: #f6f6f6;
}
th, td {
	padding: 15px;
	text-align: left;
}
tbody tr {
	background-color: #FFFFFF;
}
tbody tr:hover {
	background-color: #f5f5f5;
}
.details-container {
	margin: 0;
}
.details-container .block {
	float: left;
}
.details-container > .block {
	padding: 5px 10px;
}
.details-container .block:nth-child(1) {
	background-color: #e3e3e3;
}
.details-container .block:nth-child(2) {
	background-color: #0193FD;
	color: #fff;
}
.details-container .block:nth-child(3) {
	background-color: #6B0090;
	color: #fff;
}
#advanced-search, #add-new {
	background: white;
    border: none;
    border-radius: 5%;
    padding: 8px 18px;
}
button#add-new:hover {
	cursor: pointer;
}
#add-new a {
	text-decoration: none;
	color: #000;
}
#search-input {
	float: left;
	background: #f6f6f6;
    padding: 6px 18px;
    border: none;
    border-bottom: 1px solid #000;
}
.default-select {
	display: inline-block; 
	padding: 5px 18px; 
	background: #f6f6f6; 
	border-left: 1px solid #000;
}
.line {
	border: 1px solid #000;
	margin-top: 2%;
}
.profileImg {
	width: 100%;
	max-width: 120px;
}
