<!DOCTYPE html>
<html lang="en">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/home.css">
</head>
<body>

	<div class="grid-container">

	  <!-- HEADER -->
	  <div class="header">

	  	<div class="header-container">

	  		<div id="app-title">R2 Engine</div>

		  	<div id="user-container">
				<div id="admin-container">
					<div class="image-container">
						<img src="/img/Profile-Icon.png" alt="profile">
					</div>
					<div id="admin-name">Username <i class="fas fa-chevron-down"></i></div>
				</div>

                <!-- Dropdown Content -->
				<div class="dropdown-content">
					<button id="logout-btn">Log Out</button>
				</div>
			</div>

	  	</div>

	  </div>

      <!-- NAVIGATION -->
	  <div class="nav">
	  	<nav>
			<ul class="navigation-list">
				<li class="active"><a href="/home"><i class="fas fa-home"></i> Home</a></li>
				<li><a href="/job-postings"><i class="fas fa-briefcase"></i> Job Postings</a></li>
				<li><a href="/applicants"><i class="fas fa-user-friends"></i> Applicants</a></li>
				<li><a href="#"><i class="fas fa-poll"></i> Results</a></li>
			</ul>
	    </nav>

	  </div>

      <!-- MAIN -->
	  <div class="main">
	  	<h2>Dashboard</h2>
		<div class="container">
			<div>&nbsp;</div>
			<div>&nbsp;</div>
			<div>&nbsp;</div>
		</div>
	  </div>  

	  <!-- FOOTER -->
	  <div class="footer">
	  	&copy; R2 Engine 2020 All Rights Reserved.
	  </div>

	</div>

	<script src="https://kit.fontawesome.com/310eee1f21.js" crossorigin="anonymous"></script>
	<script src="/js/index.js"></script>
</body>
</html>